

<div class="container">
    
    <div class="card">
        <div class="header">
            <button id="butt" mat-button  (click)="openModal()">عرض الرقم</button>
            <span class="number">012345678910</span>
        </div>
    
        <div class="content">
            <div class="info">
                <span class="label">اسم البروتوكول</span>
                <span class="value">فودافون مصر</span>
            </div>
            <div class="info">
                <span class="label">الدولة</span>
                <span class="value">
                    المملكة الأردنية الهاشمية
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Flag_of_Jordan.svg/30px-Flag_of_Jordan.svg.png" alt="Jordan Flag">
                </span>
            </div>
            <div class="info">
                <span class="label">الرصيد الحالي</span>
                <span class="value">5000 ج.م</span>
            </div>
            <div class="info">
                <span class="label">تاريخ آخر نسخة</span>
                <span class="value">2024/12/29</span>
            </div>
            <div class="info">
                <span class="label">العميل الحالي</span>
                <span class="value">الشركة الألمانية للإبادة...</span>
            </div>
            <div class="info">
                <span class="label">الرصيد المستخدم للعميل الحالي</span>
                <span class="value">5000 ج.م</span>
            </div>
            <div class="info">
                <span class="label">عدد الإمتدادات</span>
                <span class="value">09</span>
            </div>
            <div class="info">
                <span class="label">الرصيد المستخدم للرقم ككل</span>
                <span class="value">5000 ج.م</span>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>العميل</th>
                <th>تاريخ التعيين</th>
                <th>تاريخ إلغاء التعيين</th>
                <th>المسؤول عن التعيين</th>
                <th>الدقائق المحلية</th>
                <th>الدقائق الدولية</th>
                <th>المبلغ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>الشركة الألمانية للإبادة...</td>
                <td>01/12/2024</td>
                <td>-</td>
                <td>عبدالرحيم إسماعيل ناصف</td>
                <td>7654</td>
                <td>122</td>
                <td>ج.م 61890</td>
            </tr>
            <tr>
                <td>الشركة الألمانية للإبادة...</td>
                <td>01/12/2024</td>
                <td>01/12/2024</td>
                <td>عبدالرحيم إسماعيل ناصف</td>
                <td>7654</td>
                <td>122</td>
                <td>ج.م 61890</td>
            </tr>
            <tr>
                <td>الشركة الألمانية للإبادة...</td>
                <td>01/12/2024</td>
                <td>01/12/2024</td>
                <td>عبدالرحيم إسماعيل ناصف</td>
                <td>7654</td>
                <td>122</td>
                <td>ج.م 61890</td>
            </tr>
            <tr>
                <td>الشركة الألمانية للإبادة...</td>
                <td>01/12/2024</td>
                <td>01/12/2024</td>
                <td>عبدالرحيم إسماعيل ناصف</td>
                <td>7654</td>
                <td>122</td>
                <td>ج.م 61890</td>
            </tr>
        </tbody>
    </table>
  </div>
  
